<p>Hi,<br />
{{adderUser}} invited you to join BarFlow and to be a member of {{venue}}.
</p>
<p>
  <a href='https://manager.barflow.io/signup'>Sign up now to join {{venue}}!</a>
</p>
<p>
  BarFlow is a simple yet powerful way to manage a venue's inventory. <br />
  Cut Stock Taking Time by 50% - Stock taking can be done from multiple mobile devices at once, saving time while improving accuracy thanks to our unique and easy to use user interface. <br />
  Minimaze Human Errors - During stocktake, levels are automatically synced to the cloud, no more adding up stock counts manually or inputting data one by one – painless and mistake free workflow. <br />
  Centralized Ordering - With live inventory data, and easy par level adjustments, purchase orders are created with a single click to multiple suppliers at once using the cloud based web dashboard.
</p>
<p>
  Download our iOS application:
  <a href='https://itunes.apple.com/ca/app/soundcloud-music-audio/id336353151?mt=8'>Barflow iOS</a>
</p>
<p>
  Regards,<br />
  BarFlow Team
</p>
