<p><storng>Welcome to BarFlow!</storng></p>
<p>
  Dear {{name}},<br />
  Thank you for creating an account, please let us know if we can help you settig up your first venue.
</p>
<p>
  Download our iOS application to do your first stocktake:
  <a href='https://itunes.apple.com/app/barflow/id1167436642'>Barflow iOS</a>
</p>
<p>
  Log in to manage your venue with our simple yet powerful web application:
  <a href='https://manager.barflow.io/'>Barflow Manager</a>.
</p>
<p>
  Regards,<br />
  BarFlow Team
</p>
