<p>Hi {{memberName}},<br />
{{actor}} removed you from {{venue}}.
</p>
<p>
  Log in:
  <a href='https://manager.barflow.io/'>BarFlow Manager</a>
</p>
<p>
  Download our iOS application:
  <a href='https://itunes.apple.com/ca/app/soundcloud-music-audio/id336353151?mt=8'>Barflow iOS</a>
</p>
<p>
  Regards,<br />
  BarFlow Team
</p>
