<p>Hello {{addedUser}},<br />
{{adderUser}} has added you to a venue called {{venue}}.
</p>
<p>
  Download our iOS application to do your first stocktake:
  <a href='https://itunes.apple.com/app/barflow/id1167436642'>Barflow iOS</a>
</p>
<p>
  Log in to manage your venues with our simple yet powerful web application:
  <a href='https://manager.barflow.io/'>Barflow Manager</a>.
</p>
<p>
  Regards,<br />
  BarFlow Team
</p>
